# Server configuration
PORT=3000

# JWT configuration
# généré avec : openssl rand -base64 64 ou 32 au choix c'est juste pour le développement, 
# en production il faut un secret plus fort et surtout ne pas le partager
JWT_SECRET=votre_petit_code_secret_ici

# timeline d'expiration du token, ici 7 jours, mais en production on peut mettre moins pour plus de sécurité
JWT_EXPIRES_IN=7d

# Database (plus tard)
DATABASE_URL=
